@import "variable";

// Import Bootstrap source files (Required file)
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

//This is for the components (Required file)
@import "core/core";
@import "scafholdings";
@import "components";

//This is for the responsive (Required file)
@import "responsive";

//In This scss you can write your scss
@import "custom";



// routerlink
// .active-link {
//     background-color: #4F46E5;
//     border-radius: 11px;
//     color: #FFFFFF !important;
// }

// .router-link-active-child>span {
//     border-bottom: 2px solid #4F46E5;
//     color: #4F46E5 !important;
//     padding-bottom: 4px;
// }

// .circle-profile {
//     // border-radius: ;
//     background: #D9D9D9;
// }

// pagination style modification

body{
    font-family: Nunito,sans-serif !important;
}


.p-paginator .p-paginator-pages .p-paginator-page {
    border: 1.33px solid #DEDEDE !important;
    border-radius: 11px !important;

}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #4F46E5 !important;
    border: 1.33px solid #DEDEDE !important;
    color: #FFFFFF !important
}

.schedulemetingCalender .p-calendar {
    width: 100vw
}

// .p-calendar {
//     border-left: none !important;
//     color: #DCDCDC !important;
//     background: #F9F9F9 !important;
// }

// .p-calendar .p-inputtext {

//     background: #F9F9F9 !important;
//     width: 100%
// }

// .save_button {
//     .p-button {
//         // border-radius: 10px !important;
//         background: #4F46E5 !important;
//         color: #FFFFFF !important;
//         width: 100% !important
//     }
// }
.customApplicationColor {
//     background: #4F46E5 !important;
    color: black !important;
    font-size: large;
    font-weight: 400;
}
// .custom_menu_dropdown .p-menu.p-menu-overlay{
//     left: unset !important;
//     position: absolute;
//     top: 20px !important;
// }
.custom_menu_dropdown .p-menu.p-menu-overlay {
    /* Ensure it's visible and positioned correctly */
    position: absolute !important;
    z-index: 1000 !important; /* Adjust as necessary */
    width: 200px !important; /* Adjust the width to fit your content */
  
    /* Example adjustments for positioning */
    left: -180px !important; /* Adjust left position */
    top: 100% !important; /* Position below the trigger icon */
  }
  
// .custom_menu_dropdown  .p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
    
//     margin-right: 0;
// }
// .custom_menu_dropdown .p-menu {
//     padding: 0.25rem 0;
   
//     width: 3rem;
// }
// .custom_menu_dropdown .p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link {
    
//     padding: 0.75rem;
    
//     justify-content: center;
    // align-items: center;
// }
.consultant {
    .p-button {
        border-radius: 18px !important;
        background: #4F46E5 !important;
        color: #FFFFFF !important
    }
}

.globalColor {
    //global background template
    background: #4F46E5 !important;
    color: #FFFFFF !important
}

.p-dropdown {
    height: 40px !important;
}

.custom_button .p-button {
    height: 45px !important;
    background: #4F46E5 !important;
    border: none;
    color: #FFFFFF !important // border-radius: 18px !important;
}

.p-dialog .p-dialog-footer button {
    background-color: #4F46E5;
    color: #FFFFFF;
}

.p-confirm-dialog-reject {
    background: #ced4da;
}

.p-dialog .p-dialog-footer button:hover {
    background-color: #4F46E5;
    color: #FFFFFF;
}

// .p-overlaypanel {
//     width: 25rem;
// }

.p-sidebar {
    width: 35% !important;
}

.p-sidebar-header {
    display: none !important;
}

.p-sidebar-footer {
    display: none !important;
}

.p-sidebar-content {
    padding: 0px !important
}
.p-dialog-title{
    color: #566a7f !important;
    font-weight: 500 !important;
}
 
  .p-button-secondary:hover{
    background-color: #566a7f;
    color: #fff !important;
  }
  .p-dialog-header {
    justify-content: center !important;
  }
  .p-dialog-header-icons{
    position: absolute !important;
    right: 6% !important;
  }
  .call_dialog{
    .p-dialog-mask{
        z-index: 9999 !important;
         justify-self: start !important;
    
    }
    .p-dialog-draggable{
        width: 65% !important;
        max-width: 65% !important;
       
    }
}

 .p-sidebar-right{
    z-index: 9999 !important;

}
.modal-body {
    background-color: #5F61E6 !important;
}

.modal-footer {
    background-color: #5F61E6 !important;
    padding: 10px 20px !important;
}

.custome_dialog {
    .p-dialog-header {
        background-color: #5F61E6 !important;
        color: #fff !important;

        .p-dialog-title {
            color: #fff !important;
            font-weight: 500 !important;
        }

        .p-dialog-header-icons {
            color: #fff !important;
            font-weight: 500 !important;
        }

    }

    .p-dialog .p-dialog-header .p-dialog-header-icon {
        color: #fff !important;
        font-weight: 500 !important;
    }

    .p-dialog-content {
        padding: 0 !important;
    }
}

.gap-20 {
    gap: 10rem;
}

::ng-deep .dropdown-container select option {
    padding: 8px 12px;
    border: none;
    height: 50px;
}
.modal_form{
    .p-dropdown{
        width: 100% !important;
    }
}
// textarea and checkbox styling
.textarea{
    border: 1px solid #cfcece !important;
    border-radius: 6px;
    padding-left: 10px;
    padding-top: 5px;
  }
  input[type="checkbox"].checkbox_area {
    height: 1rem !important;
    width: 1rem !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #cfcece;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    position: relative;
  }
  input[type="checkbox"].checkbox_area:checked {
    background-color: #696cff;
  }
  input[type="checkbox"].checkbox_area:checked::after {
    content: '\2714';
    font-size: 0.8rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn {
    color: #0E62AA; /* Changed to the blue from our gradient */
    padding: 0.4375rem 1.25rem;
    border: 1px solid #0E62AA; /* Changed border-color to border for consistency */
    background: rgba(0, 0, 0, 0);
    font-weight: 500 !important;
    transition: all 0.3s ease; /* Added for smooth transition on hover */
  }
  .btn:hover {
    background: linear-gradient(to right, #1ED7A5, #0E62AA);
    color: white; /* Change text color to white for better contrast */
    border-color: transparent; /* Optional: remove border on hover */
  }

.splitbutton{
    .p-splitbutton{
        .p-splitbutton-defaultbutton{
            padding: 0.4375rem !important;
        }
        .p-button.p-button-icon-only {
            padding: 0.4375rem !important;
        }
    }
 
}
.dropdown_box .p-dropdown .p-dropdown-label  {
    display: flex;
    align-items: center;
}

.p-dropdown .p-dropdown-label.p-placeholder {
    color: #6c757d;
    display: flex !important;
    align-items: center !important;
}