<div class="d-flex justify-content-between">
  <div class="mt-4 headText">
    <app-breadcum></app-breadcum>
  </div>

  <ul class="navbar-nav">
    <li class="nav-item" ngbDropdown placement="bottom-end">
      <!-- <a ngbDropdownToggle class="nav-link waves-effect waves-dark pro-pic custom-class-or-id" href="javascript:void(0)"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        <img src="assets/images/users/profile.svg" alt="user" class="rounded-circle" width="31" />
      </a>
      <div class="dropdown-menu-right" ngbDropdownMenu>

        <a class="dropdown-item" href="javascript:void(0)" (click)="logout()"><img src="assets/images/icons/logout.svg"
            alt="">Logout</a>
      </div> -->
    </li>

  </ul>
</div>