// search box design
input#search-bar {
    margin: 0 auto;
    width: 400px;
    height: 43px;
    padding: 0 50px;
    border-radius: 11px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;

    &:focus {
        border: 1px solid #008ABF;
        transition: 0.35s ease;
        color: #008ABF;

        &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &:-ms-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}

/* search.component.css or search.component.scss */
.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Adjust the icon size and color as needed */
.search-icon i {
    font-size: 1.1rem;
    color: #999;
}

.action {
    font-size: 20px;
}

textarea {
    resize: none;
    height: 20vh;
}