<div class="table-content px-3">
  <div class="d-flex justify-content-between job_header bg-white py-3 px-3 align-items-center">
    <div class="position-relative" style="width: 30%">
      <i class="pi pi-search position-absolute" style="top: 28%; left: 2%"></i>
      <input
        id="name"
        type="search"
        class="form-control_search"
        placeholder="Search Questions"
        (input)="filterJobs($event)"
      />
    </div>
    <div class="d-flex gap-2">
      <div class="p-field dropdown_box">
        <p-dropdown
          [options]="gradeOptions"
          placeholder="Select grade"
          [(ngModel)]="selectedGrade"
          (onChange)="onDropdownChange($event, 'grade')"
        ></p-dropdown>
      </div>
      <div class="p-field dropdown_box">
        <p-dropdown
          [options]="subjectOptions"
          placeholder="Select Subject"
          [(ngModel)]="selectedSubject"
          (onChange)="onDropdownChange($event, 'subject')"
        ></p-dropdown>
      </div>
      <div class="p-field dropdown_box">
        <p-dropdown
          [options]="diffuciltyOptions"
          placeholder="Select diffucilty"
          [(ngModel)]="selectedDiffucilty"
          (onChange)="onDropdownChange($event, 'difficulty')"
        ></p-dropdown>
      </div>
      <div class="p-field dropdown_box">
        <p-dropdown
          [options]="dropdownOptions"
          placeholder="Select Topic"
          [(ngModel)]="selectedTopic"
          (onChange)="onDropdownChange($event, 'topic')"
        ></p-dropdown>
      </div>
    </div>
  </div>
  <div>
    <div class="cols" *ngIf="filtered_questions.length > 0; else noJobsTemplate">
      <div class="item" *ngFor="let data of filtered_questions; let i = index">
        <div class="card p-4">
          <div class="row">
            <div class="col-md-12 mb-4">
              <div class="card-text">
                <b style="font-size: 18px; color: #4D4D4D; font-weight: 600" class="question">Q{{ i + 1 }}. {{ data?.question }}</b>
                &nbsp;
                <ng-container *ngFor="let star of getStars(data?.difficulty); let j = index">
                  <i
                    class="pi pi-star-fill me-1"
                    style="font-size: 0.9rem"
                    [ngStyle]="{ color: getStarColor(data?.difficulty) }"
                  ></i>
                </ng-container>
              </div>
            </div>
            <div class="col-md-12 d-flex mb-4">
              <div class="col-md-6">
                <div class="card-description bold_font mb-3">A: {{ data?.options?.A }}</div>
                <div class="card-description bold_font">B: {{ data?.options?.B }}</div>
              </div>
              <div class="col-md-6">
                <div class="card-description bold_font mb-3">C: {{ data?.options?.C }}</div>
                <div class="card-description bold_font">D: {{ data?.options?.D }}</div>
              </div>
            </div>
            <div *ngIf="showtextbox[i][0]" class="col-lg-8 mb-2">
              <div class="d-flex gap-2 w-100">
                <div class="w-75">
                  <textarea
                    class="w-100 textarea"
                    placeholder="Instructions for AI"
                    [(ngModel)]="message[i][0]"
                  ></textarea>
                </div>
                <div>
                  <button class="btn mt-1" (click)="generateQuestions($event, i, data, null)">Generate</button>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="d-flex gap-4">
                <div>
                  <a style="color: #23769E;" class="interview_button" (click)="showtextarea('Generate', i)">Generate VR</a>
                </div>
                <div>
                  <a style="color: #23769E;" class="interview_button" (click)="showtextarea('Regenerate', i)">Regenerate Question</a>
                </div>
                <div>
                  <a style="color: #23769E;" class="interview_button" (click)="showtextarea('Similar', i)">Generate Similar Question</a>
                </div>
                <div>
                  <a style="color: #23769E;" class="interview_button" (click)="movetoworksheet(data, i)">Move To WorkSheet</a>
                </div>
                <div>
                  <a style="color: #23769E;" class="interview_button" (click)="delete(data,data, i)">Delete</a>
                </div>
              </div>
            </div>
            <div *ngIf="data.generatedVr && data.generatedVr.length > 0">
              <div *ngFor="let item of data.generatedVr; let j = index">
                <hr />
                <div class="col-md-12 mb-4">
                  <div class="card-text">
                    <b style="font-size: 18px">Q{{ i + 1 }}.{{ j + 1 }} {{ item?.generated_vr?.question || item?.similar_question?.question }}</b>
                  </div>
                </div>
                <div class="col-md-12 mb-4 d-flex">
                  <div class="col-md-6">
                    <div class="card-description bold_font mb-3">A: {{ item?.generated_vr?.options?.A || item?.similar_question?.options?.A }}</div>
                    <div class="card-description bold_font">B: {{ item?.generated_vr?.options?.B || item?.similar_question?.options?.B }}</div>
                  </div>
                  <div class="col-md-6">
                    <div class="card-description bold_font mb-3">C: {{ item?.generated_vr?.options?.C || item?.similar_question?.options?.C }}</div>
                    <div class="card-description bold_font">D: {{ item?.generated_vr?.options?.D || item?.similar_question?.options?.D }}</div>
                  </div>
                </div>
                <div *ngIf="showtextbox[i][j + 1]" class="col-lg-8 mb-2">
                  <div class="d-flex gap-2 w-100">
                    <div class="w-75">
                      <textarea
                        class="w-100 textarea"
                        placeholder="Instructions for AI"
                        [(ngModel)]="message[i][j + 1]"
                      ></textarea>
                    </div>
                    <div>
                      <button class="btn mt-1" (click)="generateQuestions($event, j+1, data, null, i,data?.generatedVr)">Generate</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="d-flex gap-4">
                    <div>
                      <a style="color: #23769E;" class="interview_button" (click)="showtextarea('Generate', i, j + 1)">Generate VR</a>
                    </div>
                    <div>
                      <a style="color: #23769E;" class="interview_button" (click)="showtextarea('Regenerate', i, j + 1)">Regenerate Question</a>
                    </div>
                    <div>
                      <a style="color: #23769E;" class="interview_button" (click)="showtextarea('Similar', i, j + 1)">Generate Similar Question</a>
                    </div>
                    <div>
                      <a style="color: #23769E;" class="interview_button" (click)="movetoworksheet(item, i)">Move To WorkSheet</a>
                    </div>
                    <div>
                      <a style="color: #23769E;" class="interview_button" (click)="delete(data?.generatedVr,item, i, j)">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noJobsTemplate>
      <div class="no-jobs-found d-flex justify-content-center align-items-center" style="height: 50vh">
        <h3>No matching Questions found</h3>
      </div>
    </ng-template>
  </div>
</div>
